
<p>
    <a href="@Url.Action("Create")" class="btn btn-success">
        <span class="glyphicon gliphicon-plus"></span>
        Nova Consulta
    </a>

</p>

<form class="form-inline">
    <div class="form-group">
        <label class="sr-only">Data da Consulta</label>
        <input type="text" class="form-control" name="DataConsulta" placeholder="Data da Consulta">
    </div>
    <button type="button" id="btnPesquisar" class="btn btn-primary">Pesquisar</button>

    <input type="hidden" name="pagina" value="1" />
    <input type="hidden" name="registros" value="5" />
</form>


<div id="listagemConsulta"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(configurarControles);

        function configurarControles() {

            $("#btnPesquisar").click(listarConsultas);

            listarConsultas();
        }



        function paginar(valor) {

            var elementoPagina = $("input[name='pagina']");

            var paginaAtual = parseInt(elementoPagina.val());

            elementoPagina.val(paginaAtual + valor);

            listarConsultas();


        }

        function listarConsultas() {

            $("#listagemConsulta").load("@Url.Action("Listar")", $("form").serialize());
        }

    </script>
}
