
<p>
    <a href="@Url.Action("Create")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
        Novo Paciente
    </a>
</p>

<form class="form-inline">
    <div class="form-group">
        <label class="sr-only">Codigo</label>
        <input type="text" class="form-control" name="Codigo" placeholder="Codigo">
    </div>
    <div class="form-group">
        <label class="sr-only">Nome</label>
        <input type="text" class="form-control" name="Nome" placeholder="Nome">
    </div>
    <div class="form-group">
        <label class="sr-only">CPF</label>
        <input type="text" class="form-control" name="Cpf" placeholder="Cpf">
    </div>
    <button type="button" id="btnListar" class="btn btn-primary">Listar</button>

    <input type="hidden" name="pagina" value="1" />
    <input type="hidden" name="registros" value="5" />
</form>

<div id="listagemPaciente"></div>

@section scripts{
<script type="text/javascript">
    $(document).ready(configurarControles);

    function configurarControles() {

        $("#btnListar").click(listarPacientes);

        listarPacientes();
    }

    function paginar(valor) {
        var elementoPagina = $("input[name='pagina']");

        var paginaAtual = parseInt(elementoPagina.val());

        elementoPagina.val();

        listarPacientes(paginaAtual + valor);


    }

    function listarPacientes() {
        $("#listagemPaciente").load("@Url.Action("Listar")", $("form").serialize());
    }

</script>

}

